.containeHeroPage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
}
.containerImgHeroPage{
    padding: 0.4rem;

}
.containerImgHeroPage img{
    border-radius: 0.4rem;
}