.containerPrincipalList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: rgb(91, 1, 209);
    width: 100%;
}
.containerList{
    display: grid;
    margin: 2rem;
    width: 80%;
    padding: 0.4rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vh;
    max-height: 80vh;
    overflow-y: auto;
}